:root {
    --yellow: #d2d600;
    --yellow-clicked: #fbff00;
    --green: #168500;
    --green-clicked: #1fc300;
    --blue: #2e32b8;
    --blue-clicked: #3743ff;
    --red: #a90000;
    --red-clicked: #ff0000;
    --game-bg: #222222;
}



body {
    background-image: url('./img/floor-parquet-pattern-172292.jpg');
    background-size: cover;
}

.container {
    margin-top: 7.5em;
}

.button-container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 9px 12px 14px black;
    background-color: var(--game-bg);
    background-size: cover;
    position: relative;
}

.button {
    height: 200px;
    width: 200px;
    display: inline-block;
    box-shadow: 3px 3px 8px #000;
    margin: 33px;
    position: absolute;
}

.button-green {
    top: 0;
    left: 0;
    background: var(--green);
    border-top-left-radius: 100%;
}
.button-red {
    top: 0;
    right: 0;
    background: var(--red);
    border-top-right-radius: 100%;
}
.button-blue {
    bottom: 0;
    left: 0;
    background: var(--blue);
    border-bottom-left-radius: 100%;
}
.button-yellow {
    bottom: 0;
    right: 0;
    background: var(--yellow);
    border-bottom-right-radius: 100%;
}

.red-clicked {
    background: var(--red-clicked);
    box-shadow: 0 0 75px var(--red-clicked);
}
.blue-clicked {
    background: var(--blue-clicked);
    box-shadow: 0 0 75px var(--blue-clicked);
}
.green-clicked {
    background: var(--green-clicked);
    box-shadow: 0 0 75px var(--green-clicked);
}
.yellow-clicked {
    background: var(--yellow-clicked);
    box-shadow: 0 0 75px var(--yellow-clicked);
}

.center-area {
    position: absolute;
    border: 20px solid var(--game-bg);
    background: #131313;
    width: 200px;
    height: 200px;
    top: 130px;
    left: 130px;
    border-radius: 50%;
}

.title {
    position: absolute;
    top: -15px;
    left: 24px;
    color: #fff;
    font-size: 43px;
    font-family: "Bevan", sans-serif;
}

.score-screen {
    position: absolute;
    top: 108px;
    left: 38px;
    width: 43px;
    height: 43px;
    background: #000;
    box-shadow: inset -1px -1px 3px #131313;
}

.start-btn {
    position: absolute;
    top: 115px;
    left: 91px;
    background: #ffffff;
    box-shadow: 3px 3px 2px #000;
    color: #131313;
    width: 78px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Courier, monospace;
}
.start-btn:hover {
    background: #c8c8c8;
}
.start-btn:focus {
    outline: 0;
}
.start-btn:active {
    box-shadow: 1px 1px 2px #000;
    transform: translateY(1px);
}



#ticker {
    color: #a90000;
    font-size: 32px;
    font-family: Monaco, monospace;
    text-align: right;
    vertical-align: bottom;
    display: block;
    width: auto;
    margin: 3px 3px 0 0;
}

